body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 전체는 세로 배치 */
  /* height: 100vh;
  width: 100vh; */
  width: 1500px;
  height: 900px;
  background-color: rgb(133, 190, 209);
  border: 1px solid #111;
  border-radius: 10px;
}
#rsp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*가로 배치*/
  flex-direction: row;
  gap: 30px;
}

#title {
  font-size: 50px;
  margin-bottom: 30px;
}

#wheel {
  /* display: none; */
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 10px solid #f1c40f;
  overflow: hidden;
  transform: rotate(45deg);
  /* animation: spin 2s linear infinite; */
  /* background: repeating-conic-gradient(
    #177c41 0deg 30deg,
    #d6c4bfff 30deg 60deg
  ); */
}



#wheel span {
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 50%;
  top: 0;
  left: 50%;
  transform-origin: 0% 100%;
  clip-path: polygon(0 100%, 100% 0, 0 0);
}
#wheel span:nth-child(odd) { background: #177c41; }
#wheel span:nth-child(even) { background: #d6c4bf; }
span b {
  position: absolute;
  transform: translate(-50%, -50%) rotate(195deg);
  top: 20%;
  left: 22%;
  font-size: 80px;
  font-weight: bolder;
  color: #ff7300;
  -webkit-text-stroke: 2px black;
  
}

#wheel span:nth-child(1) { transform: rotate(0deg); }
#wheel span:nth-child(2) { transform: rotate(30deg); }
#wheel span:nth-child(3) { transform: rotate(60deg); }
#wheel span:nth-child(4) { transform: rotate(90deg); }
#wheel span:nth-child(5) { transform: rotate(120deg); }
#wheel span:nth-child(6) { transform: rotate(150deg); }
#wheel span:nth-child(7) { transform: rotate(180deg); }
#wheel span:nth-child(8) { transform: rotate(210deg); }
#wheel span:nth-child(9) { transform: rotate(240deg); }
#wheel span:nth-child(10) { transform: rotate(270deg); }
#wheel span:nth-child(11) { transform: rotate(300deg); }
#wheel span:nth-child(12) { transform: rotate(330deg); 
  clip-path: polygon(0 100%, 58% 0, 0 0);
}
/* #spin1 {

  clip-path: polygon(50% 100%, 90% 0, 10% 0);
  background-color: #177c41;
  top: 0;
  left: 120px;
}
#spin2 {
  clip-path: polygon(100% 92%, 0 50%, 100% 8%);
  background-color: #d6c4bfff;
  top: 120px;
  right: 0;
} */
/* #spin1 b {
  
  transform: translate(-50%, -50%);
} */



#wheel img {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 300px;
  object-fit: scale-down;
  background-color: #177c41;
  border-radius: 50%;
  border: 10px solid #d6c4bfff;
  outline: 1px solid #000;
}


#select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: rgb(114, 103, 214);
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #000;
    gap: 30px;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*gap vs margin*/
    gap: 10px;
    margin-bottom: 10px;
}
.select-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid #111;
    background-color: #2ecc71;
    border-radius: 50%;
}

.select-button:hover {
    cursor: pointer;
    background-color: #177c41;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#win-draw-lose-panel {
  border: 1px solid #000;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 5px;
}

#win-draw-lose-panel span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  border: 1px solid #000;
  padding: 10px 5px;
  cursor: default;
  border-radius: 5px;
  width: 70px;
  height: 50px;
}

#win-draw-lose-panel #win {
  background-color: #947a12;
}

#win-draw-lose-panel #draw {
  background-color: rgb(37, 115, 117);
}

#win-draw-lose-panel #lose {
  background-color: #993227;
}

#coin-image {
  width: 60px;
  object-fit: cover;
  margin-left: 40px;
}

#insert-coin {
  display: flex;
  width: 200px;
  height: 100px;
  background-color: #2ecc71;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #000;
}

#coin {
  display: inline-block;
  text-align: center;
  font-size: 30px;
}

#player-rsp {
  display: inline-block;
  width: 200px;
  height: 300px;
  object-fit: contain;
  transition: opacity 0.2s ease;
  object-fit: scale-down;
  opacity: 0; /* 기본은 숨김 */
}

#player-rsp.show {
  opacity: 1;
}

/* 룰렛 밝게 표시되는 효과 */
.highlight {
  filter: brightness(1.6);
  transform: scale(1.05);
  transition: 0.1s;
}