/*
display grid flex, position static relative absolute fixed, color, background, text-decoration, 
padding, margin, list-style none, border 1px soild #fff, object-fit cover, box-sizing border-box
border-radius 50%, width, height, top, bottom, right, left

*/

* {
    list-style: none;
    
}