* {
    padding: 0;
    margin: 0;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column; /* 전체는 세로 배치 */
  height: 100vh;
}

.play-area {
    width: auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    flex: 1;
}
.menu-area {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    flex: 1;
}

.menu-area .menu-button {
    padding: 10px;
    margin-left: 10px;
}

.blank {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 10%;
    margin-left: 10px;
    overflow: hidden;
}

.images img {
    object-fit: cover;
}
.point-list-area {
    background-color: blue;
    flex-direction: column;
    align-items: center;
}
